body {
    background-color: #f4f4f4;
}

h1 {
    color: #000000;
    font-style: italic;
    font-family: "Times New Roman", "メイリオ";
}

form {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #54fd59;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #00ff11;
}

.task {
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
}

.task h2 {
    margin-bottom: 10px;
}

.task p {
    margin-bottom: 15px;
}

.task .editbutton {
    background-color: #6ba3f5;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.task .editbutton:hover {
    background-color: #0063f7;
}

.task .deletebutton {
    background-color: #ff665c;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.task .deletebutton:hover {
    background-color: #ff1100;
}